<nav mat-tab-nav-bar>
  <a mat-stroked-button mat-tab-link  routerLink="/admin/room">
    <i class="fas fa-plus"></i>
    Add Room</a
  >
</nav>

<div fxLayout fxLayoutAlign="center"  >
  <h2>Rooms List</h2>
</div>


<div fxLayout fxLayoutAlign="center">
  <mat-form-field class="filter">
    <button mat-button matSuffix mat-icon-button aria-label="Clear">
      <mat-icon>search</mat-icon>
    </button>
    <input
      matInput
      class="search-input"
      (keyup)="applyFilter($event.target.value)"
      placeholder="Search"
    />
  </mat-form-field>
</div>

<div class="mat-elevation-z8" >
<mat-table [dataSource]="dataSource" >

  <ng-container matColumnDef="index">
      <mat-header-cell *matHeaderCellDef> Index </mat-header-cell>
      <mat-cell *matCellDef="let service,let i=index">{{i+1}}</mat-cell>
  </ng-container>


  <ng-container matColumnDef="number">
    <mat-header-cell *matHeaderCellDef> Room number </mat-header-cell>
    <mat-cell *matCellDef="let room"> {{room.roomNumber}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef> Room Type</mat-header-cell>
    <mat-cell *matCellDef="let room"> {{room.roomType}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="cost">
    <mat-header-cell *matHeaderCellDef> Cost </mat-header-cell>
    <mat-cell *matCellDef="let room"> {{room.roomCost}} L.E</mat-cell>
  </ng-container>

  <
  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef> Room Status </mat-header-cell>
    <mat-cell
    [class.room-status]="room.roomStatus ==='occupied' "
      *matCellDef="let room"
    > {{room.roomStatus| uppercase}}</mat-cell>
  </ng-container>






  <ng-container matColumnDef="actionsColumn">
      <mat-header-cell
      fxLayout fxLayoutAlign="center"
      class="action"
      *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell
      fxLayout fxLayoutAlign="center"
      fxLayout.lt-md="column"
      *matCellDef="let room">
          <a fXFlex mat-raised-button color="primary" [routerLink]= "['/admin/room/',room._id]" >Edit </a>
          <button
[disabled]="room.roomStatus ==='occupied'"
          fxFlex mat-raised-button color="accent" (click)="onDelete(room._id,room.roomNumber)">Delete</button>
      </mat-cell>
  </ng-container>





  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"> </mat-row>



</mat-table>

<mat-paginator
*ngIf="roomList.length > 0"
[length]="roomListLength"
[pageSize]="itemPerPage"
[pageSizeOptions]="pageSizeOption"
(page)="onChangPage($event)"
>
</mat-paginator>


</div>

