

nav{
  margin-bottom: 30px;
  background-color: #f5f5f5
}

.mat-stroked-button{
  border:none;
}
mat-expansion-panel{
  margin:40px 20px 20px 20px;

}

.list{
  margin-left:20px;
  margin-right: 20px;
}

.service{
  width: 125px;

}

.action{
  margin:30px;
}

h4{
  margin-top: -10px;
  color: #4254B6;
  font-weight: 500;
}
