<nav *ngIf="userRole === 'Doctor'" mat-tab-nav-bar>
  <a mat-stroked-button mat-tab-link routerLink="/reception/in-patient">
    <i class="fas fa-procedures"></i>
    In-Patients List</a
  >

  <a mat-stroked-button mat-tab-link routerLink="/reception/out-patient">
    <i class="fas fa-walking"></i>
    Out-Patients List</a
  >
</nav>

<div fxLayout fxLayoutAlign="center">
  <mat-card class="signup-form" fxFlex="600px" fxFlex.lt-sm="350px">
    <h1 fxLayout fxLayoutAlign="center center">Add Service</h1>

    <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
      <div
        formArrayName="service"
        *ngFor="let item of service.controls; let i = index"
      >
        <div
          fxLayout="row"
          fxLayoutAlign="center center"
          fxLayout.lt-md="column"
          fxLayoutGap="20px"
          [formGroupName]="i"
        >
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>Service</mat-label>
            <!-- <input matInput required formControlName="medicine" /> -->
            <mat-select matInput required formControlName="pService">
              <mat-option
                *ngFor="let serviceName of serviceList"
                [value]="serviceName._id"
              >
                {{ serviceName.serviceName }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                serviceForm.controls.service.controls[i].controls.pService
                  .touched &&
                serviceForm.controls.service.controls[i].controls.pService
                  .invalid
              "
            >
              please enter service name
            </mat-error>
          </mat-form-field>
          <a
            *ngIf="i === 0"
            mat-mini-fab
            matTooltip="Add More Services"
            class="more"
            color="primary"
            (click)="addService()"
          >
            <i class="fas fa-plus action-icon "></i>
          </a>
          <a
            *ngIf="i >= 1"
            matTooltip="Delete"
            class="more"
            mat-mini-fab
            color="warn"
            (click)="removeService(i)"
          >
            <i class="far fa-trash-alt"></i>
          </a>
        </div>
      </div>
      <div fxLayout fxLayoutAlign="center center">
        <button type="submit" mat-raised-button color="primary" class="submit">
          Save
        </button>
      </div>
    </form>
  </mat-card>
</div>
